__pycache__
*DATASET*
*_result.json

param/cifar10/**
param/cifar100/**
param/fashion_mnist/**
param/mnist/**

!param/**/.gitkeep


result/cifar10/**
result/cifar100/**
result/fashion_mnist/**
result/mnist/**

!result/**/.gitkeep